.Features {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 50vh;
  background-color: rgb(255, 240, 240);
}

.Features > div {
  border-radius: 1rem;
  padding: 1rem;
  border: rgba(0, 0, 0, 0.329) solid 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
}

.Features img {
  max-width: 10rem;
  max-height: 10rem;
}

.Features > div > div {
  font-size: 2rem;
  color: green;
  font-weight: bold;
}

.Features p {
  text-align: center;
  font-size: 1.2rem;
}
