.Navbar {
  display: flex;
  margin: 0px auto;
  justify-content: space-between;
  align-items: center;
  width: 950px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.Navbar p {
  font-size: 2rem;
  color: green;
  font-weight: bold;
  margin: 0px;
  user-select: none;
  padding: 1rem;
  cursor: pointer;
}

.Navbar div {
  display: flex;
  gap: 3rem;
  margin: 1rem;
}

.Navbar > div > div {
  font-size: 1.2rem;
  cursor: pointer;
  border-bottom: 4px transparent solid;
  user-select: none;
  padding: 0.3rem;
}

.Navbar > div > div:hover {
  border-bottom: 4px green solid;
  /* transition: ; */
}
